<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lee.android.doodles"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppApplication"
        android:label="@string/app_name"
        android:theme="@style/Theme.Custom.NoActionBar"
        android:icon="@drawable/ic_launcher">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.WebViewActivity"
            android:parentActivityName=".activity.MainActivity"
            android:icon="@drawable/abc_ic_ab_back_mtrl_am_alpha"
            android:theme="@style/App.SettingsTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchActivity"
            android:theme="@style/App.V7.Theme"
            android:screenOrientation="portrait" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>

        <activity
            android:name=".properties.SettingsActivity"
            android:parentActivityName=".activity.MainActivity"
            android:label="设置"
            android:icon="@drawable/TRANSPARENT"
            android:theme="@style/App.SettingsTheme"
            android:screenOrientation="portrait" />

        <activity
            android:name=".properties.AboutUsActivity"
            android:icon="@drawable/TRANSPARENT"
            android:label="关于我们"
            android:theme="@style/App.SettingsTheme"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AboutDoodlesActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/App.SettingsTheme"
            android:icon="@drawable/TRANSPARENT"
            android:label="@string/title_section5"
            android:screenOrientation="portrait" />
    </application>
</manifest>
